<section class="bg-gray-900 px-4 py-2 md:px-6 lg:px-8">
  <h3 class="text-center text-white font-semibold text-5xl line-height-1">
    Conozca todos los proyectos realizados
  </h3>

  <div class="grid grid-nogutter align-items-center">
    <div class="col-12">
      <div class="grid mt-4">
        <article
          class="col-12 md:col-6 lg:col-3 mb-5 lg:mb-0"
          *ngFor="let project of projects"
        >
          <div
            class="mb-3 relative h-25rem border-round bg-cover bg-no-repeat"
            style="
              background-image: url('{{ project.imgUrl }}');
            "
          >
            <div
              class="border-round p-3 absolute text-white inline-flex flex-column justify-content-center font-semibold"
              style="
                bottom: 1rem;
                left: 1rem;
                width: calc(100% - 2rem);
                background: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0.4),
                  rgba(255, 255, 255, 0.4) 100%
                );
                backdrop-filter: blur(6px);
              "
            >
              <h3 class="font-light text-xl xl:text-2xl mb-2 mt-0">
                {{ project.name }}
              </h3>
              <p
                class="font-normal text-sm xl:text-base mb-0 mt-0 text-white-alpha-70"
              >
                {{ project.description }}
              </p>
              <div class="gap-4 w-full mt-4">
                <div class="flex justify-content-end mb-3">
                  <span>
                    <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                    <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                    <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                    <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                    <i class="pi pi-star-fill text-300"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
