<p-toast></p-toast>
<p-progressSpinner
  class="overlay"
  strokeWidth="4"
  *ngIf="isLoading"
  animationDuration=".5s"
></p-progressSpinner>

<div class="bg-white px-4 py-4 md:px-6 lg:px-8">
  <div class="font-medium text-xl mb-3">Agregar Proyecto</div>
  <p class="m-0 mb-4 p-0 text-400 line-height-3 mr-3">
    Agrega un Nuevo proyecto a tu Portafolio
  </p>

  <div class="bg-white p-4 border-round">
    <form [formGroup]="projectForm" (ngSubmit)="registrar()">
      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-6">
          <label for="nickname2" class="font-medium">Nombre del Proyecto</label>
          <input
            id="nickname2"
            formControlName="name"
            type="text"
            autocomplete="off"
            pInputText
          />
        </div>

        <div
          class="field flex col-12 md:col-6 align-items-center justify-content-center"
        >
          <p-rating formControlName="valoraciones"></p-rating>
        </div>

        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="bio2" class="font-medium">Descripcion del proyecto</label>
          <textarea
            id="bio2"
            formControlName="description"
            type="text"
            pInputTextarea
            rows="10"
            [autoResize]="true"
          ></textarea>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="avatar2" class="font-medium">Imagen Miniatura</label>

          <!-- <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload> -->

          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            (onUpload)="onUploadImgUrl($event)"
            [multiple]="true"
            accept="image/*"
          >
            <ng-template pTemplate="content" class="bg-gray-500">
              <ul *ngIf="imgUrl.length">
                <li *ngFor="let file of imgUrl">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="due_date" class="font-medium">Fecha de Creacion</label>
          <p-calendar
            id="invoice"
            [required]="true"
            formControlName="createdAt"
            class="p-element p-inputwrapper ng-tns-c32-15 ng-star-inserted"
            [showIcon]="true"
          >
          </p-calendar>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="city2" class="font-medium">Lenguaje Usado</label>

          <p-multiSelect
            [options]="lenguajes"
            formControlName="lenguajes"
          ></p-multiSelect>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="state2" class="font-medium">Tecnologia Usada</label>
          <p-multiSelect
            [options]="tecnologias"
            formControlName="tecnologias"
          ></p-multiSelect>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="avatar2" class="font-medium"
            >Imagenes de Referencia</label
          >
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            (onUpload)="onUpload($event)"
            [multiple]="true"
            accept="image/*"
          >
            <ng-template pTemplate="content" class="bg-gray-500">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="col-12 md:col-6">
          <button
            pButton
            pRipple
            type="submit"
            label="Guardar"
            class="w-full mt-3"
          ></button>
        </div>
      </div>
    </form>

    <div class="surface-border border-top-1 opacity-50 mb-3 mt-6 col-12"></div>
  </div>
</div>
