<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
  <div class="shadow-2 bg-gray-900 border-round p-4">
    <div class="flex align-items-center mb-6 justify-content-between mb-4">
      <span class="text-4xl font-medium text-200">HABILIDADES</span>
    </div>
    <div class="grid">
      <div
        class="col-12 sm:col-6 lg:col-3 xl:col-2 p-3"
        *ngFor="let skill of skills"
      >
        <div class="text-center">
          <div
            class="flex align-items-center justify-content-center mb-3 mx-auto"
            style="width: 90px; height: 90px"
          >
            <img
              [src]="skill.imgUrl"
              style="width: 48; height: 48"
            />
          </div>
          <span class="text-white font-medium">{{
            skill.name | uppercase
          }}</span>
        </div>
      </div>


    </div>
  </div>
</div>
