<div class="bg-gray-white px-4 py-4 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 lg:col-8">
      <img
        attr.src="{{ project.imgs![selectedImageIndex1] }}"
        class="mb-3 w-full"
      />
      <div class="grid">
        <div *ngFor="let image of project.imgs; let i = index" class="col-3">
          <img
            src="{{ image }}"
            class="w-full cursor-pointer border-2 border-round border-transparent transition-colors transition-duration-150"
            [ngClass]="{ 'border-primary': selectedImageIndex1 === i }"
            (click)="selectedImageIndex1 = i"
          />
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 lg:pl-6">
      <div
        class="col-12 lg:col-12 p-4 flex flex-column shadow-2 border-round"
        style="background: rgba(255, 255, 255, 0.9)"
      >
        <div class="text-black-alpha-90 text-3xl font-bold mb-4">
          {{ project.name }}
        </div>
        <p class="text-black-alpha-60 text-xl line-height-3">
          {{ project.description }}
        </p>

        <a
          tabindex="0"
          class="cursor-pointer text-black-alpha-90 text-2xl font-medium mt-3 mb-2 py-3 flex justify-content-between w-full border-black-alpha-10 border-bottom-1 hover:text-black-alpha-60 transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="slidedown"
          leaveToClass="hidden"
          leaveActiveClass="slideup"
          >Impacto del sistema<i class="pi pi-fw pi-plus text-3xl"></i
        ></a>
        <div
          class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out"
        >
          <ul class="list-none">
            <li
              class="text-black-alpha-60 line-height-3 flex align-items-center mb-3"
              *ngFor="let impacto of project.impacto"
            >
              <i class="pi pi-circle-fill mr-3" style="font-size: 7px"></i
              >{{ impacto }}
            </li>
          </ul>
        </div>
        <a
          tabindex="0"
          class="cursor-pointer text-black-alpha-90 text-2xl font-medium mb-2 py-3 flex justify-content-between w-full border-black-alpha-10 border-bottom-1 hover:text-black-alpha-60 transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="slidedown"
          leaveToClass="hidden"
          leaveActiveClass="slideup"
          >Tecnologias Utilizadas<i class="pi pi-fw pi-plus text-3xl"></i
        ></a>
        <div
          class="overflow-hidden hidden transition-all transition-duration-400 transition-ease-in-out"
        >
          <ul class="list-none">
            <li
              class="text-black-alpha-60 line-height-3 flex align-items-center mb-3"
              *ngFor="let tecnologia of project.tecnologias"
            >
              <i class="pi pi-circle-fill mr-3" style="font-size: 7px"></i
              >{{ tecnologia }}
            </li>
          </ul>
        </div>
        <a
          tabindex="0"
          class="cursor-pointer text-black-alpha-90 text-2xl font-medium mb-2 py-3 flex justify-content-between w-full border-black-alpha-10 border-bottom-1 hover:text-black-alpha-60 transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="slidedown"
          leaveToClass="hidden"
          leaveActiveClass="slideup"
          >Retos Superados<i class="pi pi-fw pi-plus text-3xl"></i
        ></a>
        <div
          class="overflow-hidden hidden transition-all transition-duration-400 transition-ease-in-out"
        >
          <ul class="list-none">
            <li
              class="text-black-alpha-60 line-height-3 flex align-items-center mb-3"
              *ngFor="let reto of project.retosSuperados"
            >
              <i class="pi pi-circle-fill mr-3" style="font-size: 7px"></i
              >{{ reto }}
            </li>
          </ul>
        </div>

        <a
          tabindex="0"
          class="cursor-pointer text-black-alpha-90 text-2xl font-medium mb-2 py-3 flex justify-content-between w-full border-black-alpha-10 border-bottom-1 hover:text-black-alpha-60 transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="slidedown"
          leaveToClass="hidden"
          leaveActiveClass="slideup"
          >Demo | Link<i class="pi pi-fw pi-plus text-3xl"></i
        ></a>
        <div
          class="overflow-hidden hidden transition-all transition-duration-400 transition-ease-in-out"
        >
          <ul class="list-none">
            <li
              class="text-black-alpha-60 line-height-3 flex align-items-center mb-3"
            >
              <i class="pi pi-circle-fill mr-3" style="font-size: 7px"></i
              >{{ project.link }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
